In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import  train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [3]:
df = pd.read_csv("500hits.csv", encoding='latin')
df

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Jim Wynn,15,1920,6653,1105,1665,285,39,291,964,1224,1427,225,101,0.250,0
461,Jorge Posada,17,1829,6092,900,1664,379,10,275,1065,936,1453,20,21,0.273,0
462,Brady Anderson,15,1834,6499,1062,1661,338,67,210,761,960,1190,315,100,0.256,0
463,Cookie Rojas,16,1822,6309,714,1660,254,25,54,593,396,489,74,68,0.263,0
464,Mickey Rivers,15,1468,5629,785,1660,247,71,61,499,266,471,267,90,0.295,0

In [5]:
df = df.drop(columns=["PLAYER", "CS"])
df

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,0.366,1
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,0.331,1
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,0.345,1
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,0.310,1
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,0.329,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,15,1920,6653,1105,1665,285,39,291,964,1224,1427,225,0.250,0
461,17,1829,6092,900,1664,379,10,275,1065,936,1453,20,0.273,0
462,15,1834,6499,1062,1661,338,67,210,761,960,1190,315,0.256,0
463,16,1822,6309,714,1660,254,25,54,593,396,489,74,0.263,0
464,15,1468,5629,785,1660,247,71,61,499,266,471,267,0.295,0

In [6]:
X = df.iloc[:,0:13]
y = df.iloc[:,13]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [9]:
X_train = scaler.fit_transform(X_train)
X_test =scaler.fit_transform(X_test)

In [10]:
X_train, X_test

(array([[0.4       , 0.53009611, 0.52248984, ..., 0.43896804, 0.33333333,
         0.48214286],
        [0.26666667, 0.29792615, 0.1713581 , ..., 0.54948017, 0.15522175,
         0.03571429],
        [0.73333333, 0.55842185, 0.38813117, ..., 0.6542164 , 0.00786838,
         0.08928571],
        ...,
        [0.26666667, 0.21648963, 0.12840975, ..., 0.23450135, 0.05722461,
         0.41964286],
        [0.06666667, 0.12948912, 0.09445734, ..., 0.29688102, 0.04220315,
         0.28571429],
        [0.66666667, 0.52048558, 0.3562101 , ..., 0.74547555, 0.00643777,
         0.32142857]]),
 array([[0.61538462, 0.5637111 , 0.42228421, ..., 0.36507102, 0.01825994,
         0.81196581],
        [0.61538462, 0.51908397, 0.54207345, ..., 0.17411888, 0.08807734,
         0.34188034],
        [0.84615385, 0.82090429, 0.6934759 , ..., 0.46344029, 0.08807734,
         0.47008547],
        ...,
        [0.30769231, 0.35819143, 0.306989  , ..., 0.84534456, 0.10418904,
         0.27350427],
        [0.53846154, 0.64650617, 0.69316597, ..., 0.6391373 , 0.08163265,
         0.58119658],
        [0.46153846, 0.30534351, 0.20316132, ..., 0.24302998, 0.03329753,
         0.30769231]]))

In [12]:
knn = KNeighborsClassifier()

In [ ]:
knn.fo